<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>나홀로 책 리뷰 | 스파르타코딩클럽</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
      
    
        <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>

   
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

     <!-- 여기 -->
     <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
     <script src="{{ url_for('static', filename='index.js') }}"></script>

     <!-- 확인을 위해 띄움 / 나중에 지워야함 -->
     <link rel="stylesheet" href="../static/index.css">
     <script src="../static/index.js"></script>

     
</head>

<body>
    <div class="wrap">
        <div class="img"></div>
        <div class="info">
            <h1>오늘 읽은 책</h1>
            <p>리뷰와 오늘의 문장</p>
        </div>
        <div class="info">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">제목</span>
                </div>
                <input type="text" class="form-control" id="title" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">저자</span>
                </div>
                <input type="text" class="form-control" id="author" aria-describedby="basic-addon3">
            </div>
           
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">분류</label>
                </div>
                <select class="custom-select" id="category">
                  <option selected>선택</option>
                  <option value="1">소설</option>
                  <option value="2">에세이</option>
                  <option value="3">기타</option>
                </select>
              </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">이미지</span>
                </div>
                <input type="text" class="form-control" id="image" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">작성일자</span>
                </div>
                <input type="text" class="form-control" id="datePicker">
            </div>
            
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">리뷰</span>
                </div>
                <textarea class="form-control" aria-describedby="basic-addon3" name="bookReview" id="review" cols="30"
                    rows="5" placeholder="140자까지 입력할 수 있습니다." onkeyup="is_long(this)"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">태그</span>
                </div>
                <input type="text" class="form-control" id="hashtag" aria-describedby="basic-addon3" data-role="tagsinput">
            </div>
            <div class="order">
                <button onclick="make_review()" type="button" class="btn btn-primary">리뷰 작성하기</button>
            </div>
        </div>
        <div class="orders">
            <table class="table">
                <thead>
                    <tr>
                        <th class="meta_info" scope="col">제목</th>
                        <th class="meta_info" scope="col">저자</th>
                        <th scope="col">리뷰</th>
                    </tr>
                </thead>
                <tbody id="orders-box">
                    <tr>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>